<lib-header id="app-title"></lib-header>
<div id="content">
	<router-outlet></router-outlet>
</div>

<ul>
	<li><a routerLink="/">Index</a></li>
	<li><a routerLink="/home">Home</a></li>
	<li><a routerLink="/admin">Admin</a></li>
	<li><a routerLink="/app">Custom landing page</a></li>
</ul>

<lib-footer></lib-footer>
