*, ::after, ::before {
    box-sizing: border-box;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
	padding-left: 0;
    list-style: none;

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: .5rem;
		}
	}
}
